[submodule ".registry"]
	path = .registry
	url = https://github.com/api2r/api2r.r-universe.dev
	branch = HEAD
[submodule "cloudflareapi"]
	path = cloudflareapi
	url = https://github.com/api2r/cloudflareapi
[submodule "nectar"]
	path = nectar
	url = https://github.com/api2r/nectar
[submodule "stbl"]
	path = stbl
	url = https://github.com/wranglezone/stbl
